.container {
    height: 100vh;
}

main h2 {
    font-size: 1.2rem !important;
}

#inicio, .questoes, .final {
    min-width: 30em;
}

.questoes h3{
    font-size: 1rem !important;
}

.questoes h4{
    font-size: .9rem !important;
}

.alternativas button{
    margin: .2em;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    #inicio, .questoes, .final {
        min-width: 100%;
    }

    main {
        width: 100%!important;
    }
}